[Unit]
After=network.service
Description=Bot service

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /home/levus/PycharmProjects/BKIT_2021/labs/lab5/bot.py

[Install]
WantedBy=multi-user.target